@using SportActivityTracking.Api.Dtos
@model SportActivityTracking.Api.Dtos.ActividadesDeportivasDtos

<h2>Detalles de Actividad</h2>

<p><strong>Nombre:</strong> @Model.Usuario</p>
<p><strong>Descripción:</strong> @Model.Descripcion</p>

<a asp-action="Index" class="btn btn-secondary">Volver</a>
<a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Editar</a>
<a asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger">Eliminar</a>
