@using SportActivityTracking.Web.Models.Entidad
@model SportActivityTracking.Web.Models.Entidad.ActividadDeportiva

<h2>Editar Actividad</h2>

<form asp-action="EditPost" method="post">
    <input type="hidden" asp-for="Id" />
    <div class="form-group">
        <label for="Nombre">Nombre</label>
        <input type="text" class="form-control" asp-for="Nombre" required />
    </div>
    <div class="form-group">
        <label for="Descripcion">Descripción</label>
        <textarea class="form-control" asp-for="Descripcion" required></textarea>
    </div>
    <button type="submit" class="btn btn-success">Actualizar</button>
    <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
</form>
